/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background: url('../img/themap.png') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
}

.logo {
	position: absolute;
	background: url('../img/Logo.png');
	background-repeat: no-repeat;
	left: 50%;
	height: 140px;
	width: 300px;
	margin: 60px 0px 0px -150px;
}

.claim {
	font-family: 'Lato', 'sans-serif';
	font-weight: 100;
	color: #FFF;
	font-size: 40px;
	padding-top: 280px;
	line-height: 40px;
	margin-bottom: 30px;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

.claim {
	font-family: 'Lato', 'sans-serif';
	font-weight: 100;
	color: #FFF;
	font-size: 26px;
}

}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 1024px) {

.claim {
	font-family: 'Lato', 'sans-serif';
	font-weight: 100;
	color: #FFF;
	font-size: 36px;
}

}




}
